nav {
    background-color: #3D051A;
}

body {
    font-family: 'Press Start 2P', sans-serif;
background-image: url("./assets/assets/even\ better\ lava.jpg");
background-repeat: no-repeat;
background-size: cover;
}


h1 {
    color:white;
}
h2{
    color:white;

}

h3 {
    color:white;
}

p1 {
    color:white;
}

ol {
    color:white;
}