nav {
  background-color: #3D051A;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-image: url("./assets/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
color: white;
}

main {
    padding: 24px;
}
